#contactForm {
  height: 100px;
  width: 300px;
  background-color: #ddfbd2;
}
#formSubmit {
  background-color: #ddfbd2;
}
.contactDiv {
  margin-left: 2rem;
}
.contactDiv h2 {
  margin-left: -2rem;
}
