* {
  background-color: #bcedf6;
  color: #320e3b;
  font-family: Barlow;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerContainer h1 {
  display: inline-block;
}

.headerContainer,
h1,
ul,
li,
nav {
  background-image: linear-gradient(#ddfbd2, #bcedf6);
}
h1 {
  font-family: Barlow;
}
li {
  text-decoration: underline;
  color: #4c2a85;
}
