* {
  background-color: #cdf8ff;
  color: #320e3b;
  font-family: "PT Sans Narrow";
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerContainer h1 {
  display: inline-block;
}

.headerContainer,
h1,
ul,
li,
nav {
  background-image: linear-gradient(#ddfbd2, #cdf8ff);
}
nav a {
  text-decoration: none;
}
h1 {
  font-family: "Mynerve";
}
li {
  text-decoration: underline;
  color: #4c2a85;
}
